<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185309718906-o293t0njhs9pgef697i7roalfea5c27o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185309718906-o293t0njhs9pgef697i7roalfea5c27o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>185309718906-4o4dqg9tlqaak4m35glil8bn8qtf10f9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmI6OHg8CF4tPgXxCL6v5HQWADOh_4wfU</string>
	<key>GCM_SENDER_ID</key>
	<string>185309718906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dciteacherapp</string>
	<key>PROJECT_ID</key>
	<string>d-c-i-teacher-app-lffjyu</string>
	<key>STORAGE_BUCKET</key>
	<string>d-c-i-teacher-app-lffjyu.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185309718906:ios:9660f051d540ccd16d8ec3</string>
</dict>
</plist>